.hero {
    background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");
    background-size: cover;
    background-position: center;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
}

.card {
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    height: 300px;
    object-fit: cover;
}
